In [5]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
import nfl_data_py as nfl

In [ ]:
# https://docs.sportsblaze.com/nfl/core_endpoints/daily_boxscores
# Near real time data ^

In [29]:
df = nfl.import_pbp_data([i for i in range(1999, 2026)])

1999 done.
2000 done.
2001 done.
2002 done.
2003 done.
2004 done.
2005 done.
2006 done.
2007 done.
2008 done.
2009 done.
2010 done.
2011 done.
2012 done.
2013 done.
2014 done.
2015 done.
2016 done.
2017 done.
2018 done.
2019 done.
2020 done.
2021 done.
2022 done.
2023 done.
2024 done.
2025 done.
Downcasting floats.

In [30]:
# df = nfl.cache_pbp([i for i in range(1999, 2030)])

In [31]:
KEEP_COLS = [
    # -----------------------------
    # Identifiers & metadata
    # -----------------------------
    "season",
    "week",
    "game_id",
    "play_id",

    # -----------------------------
    # Target
    # -----------------------------
    "fantasy",

    # -----------------------------
    # Fantasy / player identity
    # -----------------------------
    "fantasy_player_id",
    "fantasy_player_name",
    "name",
    "id",
    "jersey_number",
    "posteam",
    "defteam",

    # -----------------------------
    # Player roles on the play
    # -----------------------------
    "passer_player_id",
    "passer_player_name",
    "passer_jersey_number",
    "passer",

    "rusher_player_id",
    "rusher_player_name",
    "rusher_jersey_number",
    "rusher",

    "receiver_player_id",
    "receiver_player_name",
    "receiver_jersey_number",
    "receiver",

    # -----------------------------
    # Core play outcomes (fantasy drivers)
    # -----------------------------
    "play_type",
    "yards_gained",

    "passing_yards",
    "rushing_yards",
    "receiving_yards",

    "pass_attempt",
    "rush_attempt",
    "complete_pass",

    "touchdown",
    "pass_touchdown",
    "rush_touchdown",
    "return_touchdown",

    "interception",
    "fumble_lost",
    "sack",

    # -----------------------------
    # Play context
    # -----------------------------
    "down",
    "ydstogo",
    "yardline_100",
    "goal_to_go",

    "qtr",
    "quarter_seconds_remaining",
    "half_seconds_remaining",
    "game_seconds_remaining",

    "shotgun",
    "no_huddle",
    "qb_scramble",

    # -----------------------------
    # Game state
    # -----------------------------
    "posteam_score",
    "defteam_score",
    "score_differential",

    # -----------------------------
    # Advanced / optional (use carefully)
    # -----------------------------
    "epa",
    "qb_epa",
    "air_yards",
    "yards_after_catch",
    "cp",
    "cpoe",
    "xpass",
    "pass_oe",
]
df = df[KEEP_COLS]

In [32]:
df

,season,week,game_id,play_id,fantasy,fantasy_player_id,fantasy_player_name,name,id,jersey_number,...,defteam_score,score_differential,epa,qb_epa,air_yards,yards_after_catch,cp,cpoe,xpass,pass_oe
0,1999,1,1999_01_ARI_PHI,35.0,None,None,None,None,None,NaN,...,NaN,NaN,0.126818,0.126818,NaN,NaN,NaN,NaN,NaN,NaN
1,1999,1,1999_01_ARI_PHI,60.0,D.Staley,00-0015523,D.Staley,D.Pederson,00-0012726,NaN,...,0.0,0.0,-0.561568,-0.561568,NaN,NaN,NaN,NaN,NaN,NaN
2,1999,1,1999_01_ARI_PHI,82.0,D.Staley,00-0015523,D.Staley,D.Staley,00-0015523,NaN,...,0.0,0.0,-0.641717,-0.641717,NaN,NaN,NaN,NaN,NaN,NaN
3,1999,1,1999_01_ARI_PHI,103.0,None,None,None,None,None,NaN,...,0.0,0.0,-0.723302,-0.723302,NaN,NaN,NaN,NaN,NaN,NaN
4,1999,1,1999_01_ARI_PHI,126.0,B.Finneran,00-0005231,B.Finneran,D.Pederson,00-0012726,NaN,...,0.0,0.0,0.212661,0.212661,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1269254,2025,15,2025_15_WAS_NYG,4387.0,W.Robinson,00-0038117,W.Robinson,J.Dart,00-0040691,6.0,...,29.0,-8.0,-0.718619,-0.718619,30.0,NaN,0.23046,-23.046047,0.996199,0.380057
1269255,2025,15,2025_15_WAS_NYG,4410.0,M.Mariota,00-0032268,M.Mariota,M.Mariota,00-0032268,NaN,...,21.0,8.0,-0.000000,-0.000000,NaN,NaN,NaN,NaN,NaN,NaN
1269256,2025,15,2025_15_WAS_NYG,4432.0,M.Mariota,00-0032268,M.Mariota,M.Mariota,00-0032268,NaN,...,21.0,8.0,-0.000000,-0.000000,NaN,NaN,NaN,NaN,NaN,NaN
1269257,2025,15,2025_15_WAS_NYG,4454.0,M.Mariota,00-0032268,M.Mariota,M.Mariota,00-0032268,NaN,...,21.0,8.0,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
1269258,2025,15,2025_15_WAS_NYG,4476.0,None,None,None,None,None,NaN,...,21.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN