In [4]:
import nfl_data_py as nfl

In [12]:
df = nfl.import_depth_charts([2022])

In [16]:
import pandas 
from pyspark.sql import SparkSession

In [17]:
spark = SparkSession.builder.appName('nfl').getOrCreate()

22/12/02 11:50:12 WARN Utils: Your hostname, Osher-Ubuntu resolves to a loopback address: 127.0.1.1; using 10.2.0.252 instead (on interface enp38s0)
22/12/02 11:50:12 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/12/02 11:50:12 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [37]:
df[(df['position']=='QB') & (df['club_code'] == 'ATL')].drop_duplicates(subset = 'gsis_id')

,season,club_code,week,game_type,depth_team,last_name,first_name,football_name,formation,gsis_id,jersey_number,position,elias_id,depth_position,full_name
39,2022,ATL,1,REG,2,Ridder,Desmond,Desmond,Offense,00-0038122,4,QB,RID080474,QB,Desmond Ridder
58,2022,ATL,1,REG,1,Mariota,Marcus,Marcus,Offense,00-0032268,1,QB,MAR186347,QB,Marcus Mariota

In [42]:
len(df['club_code'].drop_duplicates())

32